/* src/components/SubHeader.css */
.subheader {
  background-color: var(--accent-bg); /* ベージュ色 */
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.subheader h2 {
  margin: 0;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--accent-text); /* ダーク文字色 */
}
