/* src/components/SubHeader.css */
.subheader {
  background-color: var(--accent-bg);
  text-align: center;
  padding: 1.5rem 0;
  margin-bottom: 1.5rem;
}

.subheader h2 {
  margin: 0;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--accent-text);
}
